<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Application Form</title>
    </head>
    <body>
        <h1>Applicants Data</h1>
        <strong>Name: </strong><%- name %><br>
        <strong>Email Address: </strong><%- email %><br>
        <strong>GPA: </strong><%- gpa %><br />
        <strong>Background Information: </strong><%- background %><br>
        <hr>
        <strong>Task completed at <%- time %></strong>
      <hr>
      <a href="/">HOME</a>
    </body>
</html>